doctype html
html
  head
    script(src="./index.js")
    style
      :stylus
        @require "../index.styl"

  body
    p Styled
    progress(max="100", value="0") Progress: 0% done.
    br
    progress(max="100", value="50") Progress: 50% done.
    br
    progress(max="100", value="100") Progress: 100% done.
    br
    progress() Progress: ? done.

    p HTML Fallback
    div(class="progress-bar")
      span(style="width: 0%;") Progress: 0%
    div(class="progress-bar")
      span(style="width: 50%;") Progress: 50%
    div(class="progress-bar")
      span(style="width: 100;") Progress: 100%
    div(class="progress-bar")
      span(class="undefined") Progress: Undefined
