/**
 * Module dependencies
 */

@require './variables'

/**
 * Generic determinant and indeterminant `progress` styles.
 */

progress:not([value])
progress[value]
  width progress-bar--width
  height progress-bar--height
  appearance none
