@require './variables'

/**
 * HTML fallback
 */

.progress-bar-fallback
  background-color progress-bar--background-color
  border-radius progress-bar--border-radius
  box-shadow progress-bar--box-shadow

  width progress-bar--width
  height progress-bar--height

  position relative
  display block

  margin-bottom 1px

  > span
    background-color progress-bar--html-fallback-color
    border-radius progress-bar--border-radius

    display block
    text-indent -9999px

    height 100%

  .undefined
    text-indent -9999px
    background-color progress-bar--backgound-color
    background repeating-linear-gradient(45deg, #fff, #fff 10px, #67ccff 10px, #67ccff 20px)
    box-shadow progress-bar--box-shadow
