/**
* Module dependencies
*/

@require './variables'

/**
 * Generic `.progress-bar` styles.
 */

$progress-bar--generic
  height 20

  border-radius button--border-radius
  display inline-block
  font-family button--font-family
  font-size button--font-size
  font-weight button--font-weight
  line-height button--line-height
  margin-bottom 0
  padding button--padding-vertical button--padding-horizontal
  text-align center
  text-decoration none
  user-select none
  vertical-align middle
  white-space nowrap

/**
 * Mixin for creating `button` rules.
 *
 * @param {String} name
 * @param {Color} text-color
 * @param {Color} bg-color
 * @param {Color} border-color
 * @type mixin
 * @api public
 */

button--constructor(name, text-color, bg-color, border-color)
  .{button--selector-prefix}-{name}
    background bg-color
    color text-color
    border-width 1px
    border-style solid
    border-color border-color

    &.hover
    &:hover
    &:focus

      color text-color
