/**
 * Expose `button` variables.
 */

button--font-size   ?= font-size--base
button--font-family ?= inherit
button--font-weight ?= 400
button--line-height ?= line-height--base

button--padding-vertical   ?= padding--base-vertical
button--padding-horizontal ?= padding--base-horizontal

button--border-radius   ?= 3px

button--selector-prefix ?= "button"
button--selector-hover  ?= "hover"
button--selector-active ?= "active"

button--default-color        ?= #656
button--default-bg           ?= #fff
button--default-border-color ?= #777

button--transparent-color        ?= #fff
button--transparent-bg           ?= orange
button--transparent-border-color ?= transparent

button--primary-color        ?= #fff
button--primary-bg           ?= orange
button--primary-border-color ?= darken(button--primary-color, 10%)
