/**
 * Expose `progress bar` variables.
 */

progressbar--font-size   ?= font-size--base
progressbar--font-family ?= font-family--base
progressbar--font-weight ?= 400
progressbar--line-height ?= line-height--base

progressbar--padding-vertical   ?= padding--base-vertical
progressbar--padding-horizontal ?= padding--base-horizontal

progressbar--border-radius   ?= 3px

progressbar--selector-prefix ?= "progressbar"
progressbar--selector-hover  ?= "hover"
progressbar--selector-active ?= "active"

progressbar--default-color        ?= #656
progressbar--default-bg           ?= #fff
progressbar--default-border-color ?= #777

progressbar--transparent-color        ?= #fff
progressbar--transparent-bg           ?= orange
progressbar--transparent-border-color ?= transparent

progressbar--primary-color        ?= #fff
progressbar--primary-bg           ?= orange
progressbar--primary-border-color ?= darken(progressbar--primary-color, 10%)
