@require './variables'

/**
 * HTML fallback
 */

.progress-bar
  background-color progress-bar--background-color
  border-radius progress-bar--border-radius
  box-shadow progress-bar--box-shadow

  width progress-bar--width
  height progress-bar--height

  position relative
  display block

  > span
    background-color progress-bar--html-fallback-color
    border-radius progress-bar--border-radius

    display block
    text-indent -9999px

  .undefined
    text-indent -9999px

    background repeating-linear-gradient(45deg, #fff, #fff 10px, #67ccff 10px, #67ccff 20px)
