/**
* Module dependencies
*/

@require './variables'
@require './firefox'
@require './webkit'
@require './iepolyfill'
@require './htmlfallback'

/**
 * Generic indeterminant 'progress' styles.
 */

progress:not([value])
  width progress-bar--width

/**
 * Generic determinant `progress` styles.
 */

progress[value]
  width progress-bar--width
  height progress-bar--height

  /* Reset the default apperance */
  -webkit-appearance none
  -moz-appearance none
  appearance none

  /* For FF */
  border-radius progress-bar--border-radius
  box-shadow progress-bar--box-shadow
  background-color progress-bar--background-color
  border none

  /* For IE10 */
  color progress-bar--html-fallback-color
